.arrow-left {
  background-color: #444444;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  left: -51px;
}

.last-slide-left {
  background-color: #CCCCCC;
  border: none;
  width: 40px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  left: -51px;
}

.arrow-right {
  background-color: #444444;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  right: -53px;
}

.last-slide-right {
  background-color: #CCCCCC;
  border: none;
  width: 40px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  right: -53px;
}

@media (max-width: 667px) {
  .button {
    display: none;
  }
}