.banner-container {
  max-width: 62.75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  padding-top: 1.875rem;
}

.banner-container img {
  width: 100%;
  height: 15.438rem;
}

@media (max-width: 667px) {
 .banner-container {
  max-width: 100%;
  grid-template-columns: 1fr;
  padding-top: 1.438rem;
  gap: 1.25rem;
  margin: 0;
}
  .banner-container img {
    width: 23.313rem;
    height: 11.751rem;
    margin: auto 1.375rem auto 1.188rem;
  }
}