main {
  max-width: 70rem;
  margin: 0 auto;
}

.h1-highlights {
  text-transform: uppercase;
  font-family: nunito, sans-serif;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 2.216rem;
  margin-bottom: 1.313rem;
  margin-top: 2.625rem;
}

.h1-container {
  display: flex;
  justify-content: center;
}
