.carrossel-container {
  position: relative;
  width: 63.75rem;
  margin: 0 auto 3.125rem auto;
}

.slick-slide div {
  display: flex;
  justify-content: space-around;
}

.slick-dots ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.slick-dots ul li {
  margin-right: 0.063rem;
}

.slick-active {
  color: #666666 !important;
}

.slick-dots li button:before {
  margin-top: 0.938rem;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
}

@media (max-width: 667px) {
  .carrossel-container {
    width: 25.875rem;
    position: relative;
    margin: 0 auto 3.125rem auto;
  }
}
