.slick-slide div {
  display: flex;
  justify-content: space-around;
}

.inativo {
  color: #c4c4c4;
}
.ativo {
  color: #666666;
}

.slider-container {
  width: 1014.5px;
  position: relative;
  margin: 0 auto 50px auto;
}

.slick-dots ul {
  display: flex;
  justify-content: center;
}

.slick-dots ul li {
  margin: -1px;
}

.slick-dots ul li h1 {
  height: 16px;
  width: 16px;
  margin: 0;
}

@media (max-width: 414px) {
  .slider-container {
    width: 414px;
    position: relative;
    margin: 0 auto 50px auto;
  }
}
