.card-container {
  display: flex;
  flex-direction: column;
  font-family: nunito, sans-serif;
  align-items: center;
  justify-content: center;
  width: 14.688rem;
  min-height: 25.125rem;
  max-height: 29.438rem;
  margin-bottom: 1.875rem;
  border: 0.063rem solid #eeeeee;
  position: relative;
}

.card-container img {
  height: 16.313rem;
  margin: 0;
}

.card-container h3 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.011rem;
  color: #666666;
  text-transform: uppercase;
  margin: 0.625rem 0.75rem;
}

.card-container h2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.194rem;
  color: #000000;
  text-transform: uppercase;
  margin-left: 0.75rem;
}

.card-container span {
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 0.682rem;
  color: #666666;
  position: absolute;
  text-transform: uppercase;
  top: 0.625rem;
  left: 0.625rem;
}

.verao-2022 {
  border: 0.063rem solid #666666;
  padding: 0.313rem 0.313rem 0.25rem 0.375rem;
}

.off-20 {
  padding: 0.313rem 0.375rem 0.25rem 0.375rem;
  background-color: #EBD7CE;
}

.lancamento {
  padding: 0.313rem 0.375rem 0.25rem 0.438rem;
  background-color: #824D3E;
  color: #ffffff !important;
}

.text-container {
  display: flex;
  height: 4.938rem;
  flex-direction: column;
}

.card-title {
  margin-bottom: 0.563rem;
}

.price-container h2 {
  margin-top: 0;
  margin-bottom: 0.063rem;
}

.price-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.icon-heart {
  position: absolute;
  cursor: pointer;
  width: 0.98rem;
  height: 0.854rem;
  top: -7.016rem;
  right: 0.76rem;
}

.purchase-btn {
  height: 2.625rem;
  width: 12.813rem;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  line-height: 1.067rem;
  letter-spacing: 0.063rem;
  background-color: #824D3E;
  border: none;
  margin: 1.563rem 0 1.063rem 0;
}

.price-container {
  display: flex;
  flex-direction: column;
}
